body{
  background-color: rgb(0, 0, 0);
}

.logo {
  color: rgb(204, 0, 0);
}

.gifs {

  margin:5px auto;
  width:80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif{
  padding: 0 2px;

}

.loader{
  color:rgb(167, 9, 9);
}

button{
  color:rgb(204, 0, 0)
}

